<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.amor.stella.mappers.BoardMapper">

	<insert id="insertBoard" parameterType="com.amor.stella.board.BoardVO">
		INSERT INTO board(
			btitle,
			bpw,
			userid,
			hit,
			parent,
			file1,
			file2,
			content,
			regdate
		) VALUES(
			#{btitle },
			#{bpw },
			#{userid },
			#{hit },
			#{parent },
			#{file1 },
			#{file2 },
			#{content },
			DATE_FORMAT(now(),'%Y-%m-%d %H:%i:%s')
		)
		
	</insert>

</mapper>